
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url("../img/istockphoto-1074166486-612x612.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
    background-color: #185b5b;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 1px;
    
}
.logo span{
      color:#19e8ff;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .links a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}
.navbar .links a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    bottom: -8px;
    background-color: #00BCD4;
 transition: all 0.3s ease-in-out 0.1s;
 position: relative;
    

}
.navbar .links a:hover::after {
    width: 100%;
    
    
}
.links a:hover{
    color: #00BCD4;
}
.form-popup{
    border-radius: 2px;
}






.navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #00BCD4;
    color: white;
}


@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #00BCD4;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}
.welcomw{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.welcomw h1 
{
    text-align: center;
    font: bold;
    color: #fff;
    letter-spacing: 3px;
    padding-bottom: 4px;
    font-size: 55px;

}
.welcomw p {
    color: rgb(210, 209, 209);
    text-align: center;
    line-height: 1.6rem;
    letter-spacing: 1px;
    padding-top: 2px;
}
.welcomw span{
    color: #24d1e8;
    text-shadow: 1px 1px 1px #000, 
               3px 3px 5px rgb(24, 24, 24);
}
@media (max-width:760px){
    .welcomw {
        width: 100%;
        font-size: 20px;
    }
}
@media(max-width:1160px){
    .login-btn{
        display: flex;
    }
}

.loginn {
    margin: auto;
    display: flex;
    position: relative;
  }
  
  .loginn .img {
    width: 40%;
    height: 100vh;
    background-color: #00BCD4;
    position: relative;
  }
  
  .loginn .img h3 {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff; 
    padding-top: 4px;
    margin-bottom: 4px;
  }
  
  .loginn .img p {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; 
    padding-top: 20px;
  }
  
  .loginn .img img {
    position: absolute;
    top: 80.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  
  .loginn .loging {
    width: 60%; 
    padding: 150px 70px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
  }
  
  .loginn .loging h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: #333; 
  }
  
  .loginn .loging label {
    display: block;
    margin: 18px 0;
    align-items: center;
    text-align: center;
    
  }
  
  .loginn .loging input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-right: none;
    border-top: none;
    border-left-color: #000;
    border-bottom-color: #000;
    text-align: center;
    border-top-left-radius:5px ;

    
  }
  .loging i {
    margin-left: 4px;
  }
  
  .loginn .loging button {
    width: 50%;
    padding: 10px;
    background-color: #00BCD4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin: 15px 220px;
    letter-spacing: 2px;
  }
  
  .loginn .loging button:hover {
    background-color: #0097a7;
  }
  
   
.loginn .haveacc {
    text-align: center;
    margin-top: 20px;
  }
  
  .loginn .haveacc p {
    color: #777; 
  }
  
  .loginn .haveacc a {
    color: #3498db;
    text-decoration: none;
  }
  
  .loginn .haveacc a:hover {
    text-decoration: underline;
  }
  